body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-container {
  padding-left: 30px;
  padding-right: 30px;
}
.image {
  height: 272px;
  width: 182px;
  background-image: url("./assets/placeholder_for_missing_posters.png");
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-panel {
  margin-top: 36px;
  height: 100vh;
  overflow-y: hidden;
  z-index: 9;

}

.item-row {
  margin-top: 90px;
  min-height: 350px;
}

.item {
  width: 182px;
}
.movie-description {
  margin-top: 24px;
}

.icon {
  width: 30px;
  height: 30px;
}

.back img {
  object-fit: contain;
}

.search-bar {
  display: flex;
  z-index: 10;
}

.no-records {
  margin-top: 100px;
}

